<aside class="c-show__sidebar">
  <% if(data !== undefined) { %>
    <div class="c-show__sidebar__image" style="background-image: url(/static/files/<%= data.imagePath %>);"></div>
    <h1 class="c-show__sidebar__title"><%= data.name %></h1>
    <p><%= data.description %></p>
  <% } %>
</aside>
<section class="c-show__episodes">
  <% if(data !== undefined) { %>
    <% for(var i = 0; i < data.episodes.length; i++) { %>
      <article class="c-episode">
        <div class="c-episode__content">
          <div class="c-episode__content__play js-play-episode" data-mixcloud="<%= data.episodes[i].mixcloud_link %>">
            <span class="icon-play2 c-episode__content__play__icon"></span>
          </div>
          <div class="c-episode__content__info">
            <h1 class="c-episode__content__title"><%= data.episodes[i].name %></h1>
            <p><%= data.episodes[i].tagline %></p>
            <p class="c-episode__content__date"><%= data.episodes[i].date %></p>
            <p class="c-episode__content__tags">
              <% var tags = data.episodes[i].countries.concat( data.episodes[i].cities).concat( data.episodes[i].artists); %>
              <% for (var j = 0; j < tags.length; j++) { %>
                <a href="#wiki/<%= tags[j].link %>"><%= tags[j].name %></a>
                <% if(j != tags.length - 1){ %>
                  &nbsp;/&nbsp;
                <% } %>
              <% } %>
            </p>
          </div>
          <% if(data.episodes[i].episode_image) { %>
            <img class="c-episode__content__image" src='/static/files/<%= data.episodes[i].episode_image %>' alt='<%= data.episodes[i].name %>'/>
          <% } %>
        </div>
        <div class="c-episode__description-toggle">+ More Info</div>
        <div class="c-episode__description"><%= data.episodes[i].description %></div>
      </article>
    <% } %>
  <% } %>
</section>