<aside class="c-show__sidebar">
  <% if(data !== undefined) { %>
    <img class="c-show__sidebar__image" src='/static/files/<%= data.imagePath %>' alt='<%= data.name %>'>
    <h1 class="c-show__sidebar__title"><%= data.name %></h1>
    <p><%= data.description %></p>
  <% } %>
</aside>
<section class="c-show__episodes">
  <% if(data !== undefined) { %>
    <% for(var i = 0; i < data.episodes.length; i++) { %>
      <article class="c-episode">
        <div class="c-episode__content">
          <div class="c-episode__content__play js-play-episode" data-mixcloud="<%= data.episodes[i].mixcloud_link %>">
            <span class="icon-play2"></span>
          </div>
          <div class="c-episode__content__info">
            <h1 class="c-episode__content__title"><%= data.episodes[i].name %></h1>
            <p><%= data.episodes[i].tagline %></p>
            <p class="c-episode__content__date"><%= data.episodes[i].date %></p>
          </div>
          <% if(data.episodes[i].episode_image) { %>
            <img class="c-episode__content__image" src='/static/files/<%= data.episodes[i].episode_image %>' alt='<%= data.episodes[i].name %>'/>
          <% } %>
        </div>
        <div class="c-episode__description-toggle">+ More Info</div>
        <div class="c-episode__description"><%= data.episodes[i].description %></div>
      </article>
    <% } %>
  <% } %>
</section>